<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>874982067221-mgo7026a6sje6ii33st5mput5f0nm1p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874982067221-mgo7026a6sje6ii33st5mput5f0nm1p0</string>
	<key>API_KEY</key>
	<string>AIzaSyDYeOf2wDSM8wuEiqa_bd_rmLs_-Jqt9K4</string>
	<key>GCM_SENDER_ID</key>
	<string>874982067221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhaoweiwu.Tackle</string>
	<key>PROJECT_ID</key>
	<string>tackle-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tackle-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874982067221:ios:3f89df7a2418e108</string>
	<key>DATABASE_URL</key>
	<string>https://tackle-app.firebaseio.com</string>
</dict>
</plist>